/* drw corp 3 */

position: relative;
width: 1123px;
height: 31080px;

background: #F7F8FD;


/* background_7_5_7 */

position: absolute;
width: 1123px;
height: 31080px;
left: 0px;
top: 0px;

background: url(background_7_5_7.png);


/* Jannatul Firdaus 100.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 2828px;
left: 0px;
top: 0px;



/* Al-Maqamul Amin 96.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1632px;
left: 0px;
top: 2828px;



/* Jannatul 'Adn 88.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1631px;
left: 0px;
top: 4460px;



/* Darul Muqamah 77.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1754px;
left: 0px;
top: 6091px;



/* Jannatun Na'im 67.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1226px;
left: 0px;
top: 7845px;



/* Jannatul Ma'wa 58.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1157px;
left: 0px;
top: 9071px;



/* Darussalam 50.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1274px;
left: 0px;
top: 10228px;



/* Hakim (Puncak Dunia) 45.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1157px;
left: 0px;
top: 11502px;



/* Khalifah 37.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1247px;
left: 0px;
top: 12659px;



/* Ahli 25.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1168px;
left: 0px;
top: 13906px;



/* Musafir 16.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 938px;
left: 0px;
top: 15074px;



/* Insan (Level Dasar Dunia) 10.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 699px;
left: 0px;
top: 16012px;



/* Hawiyah (Gerbang Keluar) 9.500 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1930px;
left: 0px;
top: 16860px;



/* Sa'ir 8.500 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1775px;
left: 0px;
top: 18790px;



/* Jahim 7.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1530px;
left: 0px;
top: 20565px;



/* Hutamah 5.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1530px;
left: 0px;
top: 22095px;



/* Saqar 3.000 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 2234px;
left: 0px;
top: 23625px;



/* Laza 1.500 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 1898px;
left: 0px;
top: 25859px;



/* Jahannam 0 Poin Loyalitas */

position: absolute;
width: 1123px;
height: 2721px;
left: 0px;
top: 28359px;

